.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff; /* White background */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  overflow: hidden; /* Prevent scrolling */
}

.logo {
  margin-bottom: 20px;
  width: 500px; /* Adjust logo size */
  height: 250px;
}

.taglineContainer {
  margin-bottom: 20px;
}

.taglineBold {
  font-size: 2rem;
  font-weight: bold; /* Bold font */
  margin: 0;
}

.taglineRegular {
  font-size: 1.5rem;
  margin: 0;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white; /* White background for button */
  color: black; /* Black text for button */
  border: 2px solid black; /* Black border for button */
  border-radius: 5px; 
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}
